.card {
	text-align: center;
}

.card .dot,.card .dash {
	font-weight: bold;
	font-size: 500%;
	padding: 0 25px;
}

body.inactive #big-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
}

body.inactive .card .guess .inactive {
	display: block;
	text-shadow: none;
	color:;
}

body.active #big-modal {
	display: none;
}

body.active .card .guess .inactive {
	display: none;
}

body.inactive .card .guess .pressKey {
	display: none;
}

.card.answer .answer, .card.guess .guess {
	display: block;
}

.card .answer,.card .guess {
	display: none;
}

.card .answer {
	font-size: 200%;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
}

.card .answer em {
	font-weight: bold;
}

audio#nato-alphabet {
	display: none;
}