body {
	font-family: sans-serif;
}

.card {
	font-family: serif;
	text-align: center;
}

.card .dot,.card .dash {
	font-weight: bold;
	font-size: 500%;
	padding: 0 25px;
}

body.inactive #big-modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
}

body.inactive .card .guess .inactive {
	display: block;
	text-shadow: none;
	color:;
}

body.active #big-modal {
	display: none;
}

body.active .card .guess .inactive {
	display: none;
}

body.inactive .card .guess .pressKey {
	display: none;
}

body.playing .on-off .on {
	display: none;
}

body .on-off .off {
	display: none;
}

body.playing .on-off .off {
	display: block;
}

.level {
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	font-family: sans-serif;
}

.level span {
	font-weight: bold;
	font-size: 200%;
	display: block;
}

.streaks {
	position: absolute;
	top: 0;
	right: 10px;
	text-align: center;
}

.streaks h3,.streaks p {
	display: inline-block;
}

.streaks p span {
	display: block;
}

.card.answer .answer,.card.morse .morse,.card.guess .guess {
	opacity:1;
}

.card .answer,.card .guess,.card .morse {
	opacity:0;
}

.card .answer {
	font-size: 200%;
	text-align: center;
	font-family: sans-serif;
	font-weight: 100;
}

.card .answer em {
	font-weight: bold;
}

.card.pass {
	color: green;
}

.card.fail {
	color: red;
}

audio#nato-alphabet {
	display: none;
}